/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

/*form.formtastic fieldset { margin-bottom: 20px; padding: 20px; }
form.formtastic legend { font-size: 14px; font-family: Georgia; background-color: #aaa; padding: 8px 15px 8px 15px; color: #fff; font-weight: normal;  }
form.formtastic input, form.formtastic textarea, form.formtastic select { padding: 8px; font-size: 14px; }
form.formtastic li { list-style-type: none; }
form.formtastic fieldset > ol > li label { font-size: 11px; position: relative; top: 6px; font-weight: bold; }*/
form.formtastic li { list-style-type: none; }
form.formtastic fieldset { margin-bottom: 20px; padding: 20px; }
form.formtastic input, form.formtastic textarea, form.formtastic select { padding: 5px; font-size: 11px; }
form.formtastic fieldset > ol > li label { font-size: 11px; position: relative; top: 6px; font-weight: bold; }

