/* MAIN CSS */
/* RESET WITH BLUEPRINT */

/* FO BEALLITASOK */

body {
    text-align: center;
}

#main {
    margin: 0px auto 0px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    color: #5082D7;
}

form {
    font-size: 11px;
}

h2 {
    font-family: Georgia;
    background-color: #fff;
    color: #444;
    font-size: 2em;
    background-color: transparent;
    font-weight: bold;
}

.hidden_field {
  display: none;
}

.main_text h2 {
  text-align: left;
}

.form_info {
    font-weight: bold;
}

.user_confirmation {
  background-color: #cc0033;
  color: #fff;
  margin-bottom: 20px;
}

.user_confirmation .text {
  padding: 10px;
}

.user_confirmation a {
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
}

div #error_explanation {
  background-color: #f1f1f1;
  margin-bottom: 10px;
  border: 2px dotted red;
  padding: 10px;
}

.main_text {
  text-align: justify;
  font-size: 11px;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.align_justify {
  text-align: justify;
}

/* TOOLTIP */

/* BIG BLACK */

/*.tooltip {
	display: none;
	background: transparent url("../images/black_arrow_big.png");
	font-size: 12px;
	height: 166px;
	width: 320px;
	padding: 25px;
	color: #fff;
}*/

/* MIDDLE WHITE */

.tooltip {
	display: none;
	background: transparent url("../images/white_globo_arrow.png");
	font-size: 11px;
	height: 116px;
	width: 283px;
	padding: 20px;
	color: #333;
  font-weight: bold;
}

.demo img {
	border: 0;
	cursor: pointer;
	margin: 0 0px;
}

/* FORM */

fieldset {
  background-color: #f1f1f1;
}

label {
    font-weight: normal;
}

input {
    margin-right: 13px;
    padding: 5px;
}

.field {
    margin-bottom: 10px;
}

select {
    width: 330px;
    padding: 5px;
    border: 1px solid #bbb;
}

.title {
  width: 320px!important;
}

#left .main_text {
    border-right: 1px solid #ccc;
}


/* FEJLEC */
/* ------------------------------------------------------------------------------------------------------------------ */

#block_1 {
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 60px;
}

#fejlec_hatter {
    background-image: url('../images/fejlec_logo.jpg');
    height: 60px;
}

#admin_login {
    font-size: 12px;
    text-align: right;
    position: relative;
    top: 20px;
}

#admin_login a {
    color: #fff;
}

#admin_login img {
    position: relative;
    top: 3px;
    left: -5px;
}

/* LOGIN LEFT */
/* ------------------------------------------------------------------------------------------------------------------ */

#block_2 {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px 0px 20px 0px;
    background-image: url('../images/support.jpg');
    background-repeat: no-repeat;
    background-position: top left;
}

/* FOOTER */

#footer {
    width: 100%;
    height: 30px;
    background-color: #333;
}

.footer_main_text {
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding-top: 8px;;
}

#block_2 #right {
    background-image: url('../images/big_support.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

/* REGISTRATION */

.flat_rates {
    display: none;
}

.field_with_errors input {
    border: 3px solid red;
}

#message {
    background-color: #A40120;
    font-weight: bold;
    color: #fff;
}

#notice_notice, #notice_alert {
    padding: 5px;
}

/* BACKEND FORMAT */

/* LEFT */
/*--------------------------------------------------------------------------------------------------------------------*/

#backend_left .main_text, #support_left .main_text {
  border: 1px solid #ddd;
  padding: 10px;
}

#backend_left .main_text, #support_left .main_text {
    padding: 0px;
    border: none;
}

#backend_left ul, #support_left ul {
    font-family: Georgia;
    color: #3B61A2;
    font-size: 18px;
    letter-spacing: -0.4pt;
    word-spacing: -0.2pt;
    margin-bottom: 20px;
    padding: 0px;
}

#backend_left li, #support_left li {
    background-image: url('../images/li_bullet.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

#backend_left li a, #support_left li a {
   color : #333;
}

ul li {
   list-style-type: none;
}

#admin_data .main_text {
  color: #fff;
  text-align: right;
  padding-top: 15px;
}

#backend_left h2 {
    font-family: georgia,serif;
    color: #444743;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.4pt;
}

#backend_left .main_text {
  padding-top: 20px;
}

/* BACKEND RIGHT */
/*--------------------------------------------------------------------------------------------------------------------*/

#backend_right h2 {
   padding-left: 40px;
}

#backend_right .main_text {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  background-image: url('../images/big_help.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#backend_right .main_text .main_text_content {
  font-family: georgia,serif;
  color: #8C8C8C;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0pt;
  word-spacing: 4.4pt;
  line-height: 1.7;
  margin-bottom: 20px;
}

.admin_img {
   background-image: url('../images/admin.png');
   background-repeat: no-repeat;
}

.client_img {
   background-image: url('../images/client.png');
   background-repeat: no-repeat;
}

.contact_img {
   background-image: url('../images/contact.png');
   background-repeat: no-repeat;
}

.email_img {
   background-image: url('../images/email.png');
   background-repeat: no-repeat;
}

.error_support_img {
   background-image: url('../images/error.png');
   background-repeat: no-repeat;
}

.software_img {
   background-image: url('../images/software.png');
   background-repeat: no-repeat;
}

#email_message h2, #error_message h2 {
    font-size: 20px;
}

#email_message, #error_message {
    margin-bottom: 25px;
}

#administrator h2, #contact h2, #client h2, #advice h2, #article h2, #system h2, #faqs h2 {
    padding: 0px;
}

#administrator fieldset {
  padding: 20px;
}

#administrator #admin_submit {
  margin-top: 20px;
}

/* FRONTEND */
/*--------------------------------------------------------------------------------------------------------------------*/

#frontend .main_text {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

#frontend #systems .main_text a {
  color: #333;
  cursor: help;
}

#frontend img {
  margin-right: 20px;
  float: left;
}

#frontend .no_contact {
  text-align: center;
  font-size: 12px;
  padding: 28px;
  border: 3px dotted red;
}

#frontend #teruleti_kepviselo {
  background-image: url("../images/contact_phone.png")
}

#frontend .kapcs_nev, .telephely_nev {
  font-size: 18px;
}

#frontend .kapcs_vezetekes, #frontend .kapcs_mobil, #frontend .kapcs_email, .telephely_usz, .telephely_cim, .telephely_fax  {
  font-size: 12px;
}

/* MIKROVOKS */

#frontend .termek, #frontend #mikrokam, #frontend #sequence, #frontend #edtr, #frontend #mvmonitor, #frontend #digirat  {
  margin-bottom: 15px;
}

#frontend #mikrovoks .main_text {
  padding: 0px;
}

#frontend #mikrovoks_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrovoks_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #mikrovoks_image {
   height: 140px;
   background-image: url('../images/termek_mikrovoks.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrovoks_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrovoks_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* MIKROKAM */

#frontend #mikrokam .main_text {
  padding: 0px;
}

#frontend #mikrokam_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrokam_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #mikrokam_image {
   height: 140px;
   background-image: url('../images/termek_mikrokam.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrokam_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrokam_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* Sequence */

#frontend #sequence .main_text {
  padding: 0px;
}

#frontend #sequence_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #sequence_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #sequence_image {
   height: 140px;
   background-image: url('../images/termek_sequence.jpg');
   background-repeat: no-repeat;
}

#frontend #sequence_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #sequence_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* edtr */

#frontend #edtr .main_text {
  padding: 0px;
}

#frontend #edtr_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #edtr_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #edtr_image {
   height: 140px;
   background-image: url('../images/termek_edtr.jpg');
   background-repeat: no-repeat;
}

#frontend #edtr_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #edtr_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* mvmonitor */

#frontend #mvmonitor .main_text {
  padding: 0px;
}

#frontend #mvmonitor_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #mvmonitor_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #mvmonitor_image {
   height: 140px;
   background-image: url('../images/termek_mvmonitor.jpg');
   background-repeat: no-repeat;
}

#frontend #mvmonitor_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #mvmonitor_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* digirat */

#frontend #digirat .main_text {
  padding: 0px;
}

#frontend #digirat_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #digirat_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #digirat_image {
   height: 140px;
   background-image: url('../images/termek_digirat.jpg');
   background-repeat: no-repeat;
}

#frontend #digirat_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #digirat_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* ADVICES */

#advices .main_text {
  background-color: #fff;
  color: #999;
  text-align: left;
}

#advices h2 {
  color: #333;
}

#advices .advice_information {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #333;
  text-align: left;
}

/* ERROR MESSAGES */

#error_messages {
  background-color: #fff;
}

#error_messages h2 {
  padding: 20px 0px 0px 20px;
}

.message_background {
  height: 120px;
  background-image: url('../images/support_message_background.jpg');
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.message_title {
  font-family: Georgia;
  font-size: 14px;
  color: #fff;
  padding: 10px 0px 0px 35px;
  margin-bottom: 10px;
}

.message_title a {
  color: #fff;
}

.message_uploader, .message_status {
  font-family: Verdana;
  font-size: 10px;
  color: #fff;
  padding: 5px 0px 0px 25px;
}

.message_status {
  padding-top: 12px;
  font-size: 12px;
  color: #333;
}

.message_statusbar {
  padding: 10px 0px 0px 20px;
}

.message_short_description {
  font-family: Arial;
  font-size: 11px;
  color: #333;
  padding: 12px 0px 0px 35px;
}

.message_user_icon {
  height: 115px;
  background-image: url('../images/message_user_icon.jpg');
  background-repeat: no-repeat;
}

.message_user_data {
  height: 115px;
  background-image: url('../images/message_user_data.jpg');
  background-repeat: no-repeat;
}

.message_user_data .text {
  font-size: 11px;
  padding: 43px 0px 0px 20px;
}

.message_system_info {
  height: 59px;
  background-image: url('../images/message_system_info.jpg');
  background-repeat: no-repeat;
}

.message_system_info .text {
  font-size: 14px;
  padding: 24px 0px 0px 70px;
  font-weight: bold;
}

.message_date {
  height: 56px;
  background-image: url('../images/message_date.jpg');
  background-repeat: no-repeat;
}

.message_date .text {
  font-size: 14px;
  padding: 11px 0px 0px 70px;
  font-weight: bold;
}

.message_description {
  padding: 20px;
}

.message_description h3 {
  font-weight: bold;
}

.hibabejelentes_fejlec {
  height: 126px;
  background-image: url('../images/hibabejelentes_fejlec.jpg');
  background-repeat: no-repeat;
}

.felhasznalo_info {
  padding: 20px 0px 0px 10px;
  color: #fff;
  font-size: 12px;
}

.felhasznalo_info .nev, .felhasznalo_info .onkormanyzat  {
  font-family: georgia;
  font-size: 14px;
}

.felhasznalo_info .mail {
  color: orange;
  font-family: georgia;
  font-size: 11px;
}

.bejelentes_datuma {
  font-size: 14px;
  padding: 30px 0px 0px 20px;
  color: orange;
}

.system_title {
  color: red;
  text-transform: UPPERCASE;
  font-size: 11px;
}

.hibabejelentes_cim {
  font-family: georgia;
  font-weight: bold;
  font-size: 12px;
  padding: 20px 0px 0px 35px;
}

.hibabejelentes_telefon {
  font-size: 11px;
  padding: 20px 0px 0px 30px;
}

.hibabejelentes_tartalom {
  background-image: url('../images/hibabejelentes_tartalom_hatter.jpg');
  background-repeat: repeat-y;
}

.hibabejelentes_tartalom .message_statusbar {
  padding: 0px;
}

.hibabejelentes_tartalom strong {
  font-size: 16px;
  position: relative;
  top: -4px;
}

.bejelentes_szovege {
  font-size: 14px;
  padding: 30px;
  padding-top: 20px;
}

.hibabejelentes_lablec {
  height: 26px;
  background-image: url('../images/hibabejelentes_lablec.jpg');
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

/* COMMENTS */

.all_comments {
  background-image: url('../images/comment_icon.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.comments {
  display: none;
}

.comment_header {
  height: 44px;
  background-image: url('../images/comment_header.jpg');
  background-repeat: no-repeat;
}

.comment_content {
  background-image: url('../images/comment_content.jpg');
  background-repeat: repeat-y;
}

.comment_content .text {
  padding: 10px;
}

.comment_footer {
  height: 11px;
  background-image: url('../images/comment_footer.jpg');
  background-repeat: no-repeat;
}

.comment_user {
  color: #fff;
  font-size: 13px;
  padding-top: 12px;
  padding-left: 10px;
}

.comment_user .email {
  color: #add8e6;
  font-size: 11px;
  padding-left: 5px;
}

.comment_date {
  text-align: right;
  padding-top: 15px;
  font-size: 10px;
  color: #add8e6;
}

/* EASYSLIDER */

/* Easy Slider */

	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2 li{
		/*
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/
		width:950px;
		height:200px;
		overflow:hidden;
		}

	#slider2 li{
		background:#f1f1f1;
		}
	#slider2 li h2{
		margin:0 20px;
		padding-top: 7px;
    color: #fff;
		}

	#slider2 li p{
		margin:20px;
    font-size: 12px;
		}

	p#controls, p#controls2{
		margin:0;
		position:relative;
		}

	#prevBtn, #nextBtn, #prevBtn2, #nextBtn2{
		display:block;
		margin:0;
		overflow:hidden;
		text-indent:-8000px;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:-130px;
		}
	#nextBtn, #nextBtn2{
		left: 960px;
		}
	#prevBtn a, #nextBtn a, #prevBtn2 a, #nextBtn2 a{
		display:block;
		width:30px;
		height:77px;
		background:url(../images/btn_prev.gif) no-repeat 0 0;
		}
	#nextBtn a, #nextBtn2 a{
		background:url(../images/btn_next.gif) no-repeat 0 0;
		}
.news_content {
  height: 176px;
  background-image: url('../images/hir_hatter.jpg');
  background-repeat: no-repeat;
}

.news_content p {
  font-size: 16px!important;
}

.news_content .read_more {
  position: relative;
  top: -10px;
}

.news_content .read_more a {
  display: block;
  width: 88px;
  height: 29px;
  margin-left: 20px;
  padding: 6px 0px 0px 15px;
  font-size: 12px;
  color: #fff;
  background-image: url('../images/read_more.jpg');
  background-repeat: no-repeat;

}

/* // Easy Slider */


/* PAGE FLIP */

#pageflip {
	position: absolute;
	right: 0; top: 0;
	float: right;
}
#pageflip img {
	width: 50px; height: 52px;
	z-index: 99;
	position: absolute;
	right: 0; top: 0;
	-ms-interpolation-mode: bicubic;
  border: none;
}
#pageflip .msg_block {
	width: 50px; height: 50px;
	overflow: hidden;
	position: absolute;
	right: 0; top: 0;
	background: url(../images/subscribe.png) no-repeat right top;
  text-indent: -50000px;
}

/* PAGE FLIP */

/* Tool Tip */

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}

/* SUPPORT */

/* REd COLOR 841211 */

.support_content {
  background-color: #fff;
}

#support .main_text {
  padding: 0px;
  background-color: transparent;
  border: none;
}

#support_content_left h2 {
  background-image: url('../images/menu_fejlec.jpg');
  background-repeat: no-repeat;
  height: 29px;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: 0px;
}

#support_content_left .main_text {
}

#support_content_left .menu, .articles  {
  background-color: #fff;
  margin-bottom: 10px;
}

#support_content_left .menu ul {
  margin: 0px;
  padding: 0px;
  border: 1px solid #ccc;
}

#support_content_left .menu a {
  color: #333;
  padding-left: 10px;
}

#support_content_left .menu ul li {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-image: url('../images/menu_li_hatter.jpg');
  background-repeat: no-repeat;
}

#support_content_left .article_text {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: left;
}

#support_content_left .article_text strong {
  font-size: 16px;
  color: #841211;
}

#support #hibabejelentes, #ajanlatkeres, #letoltes, #eszkozok, #gyik, #prospektusok {
  background-color: #fff;
  height: 200px;
  margin-bottom: 10px;
}

#support_content_right h2 {
  color: #333;
  font-size: 16px;
  padding-left: 0px;
  padding-top: 5px;
  margin-bottom: 20px;
}

#hibabejelentes {
  background-image: url('../images/hibabejelentes.jpg');
  background-repeat: no-repeat;
}

#ajanlatkeres {
  background-image: url('../images/ajanlatkeres.jpg');
  background-repeat: no-repeat;
}

#letoltes {
  background-image: url('../images/letoltes.jpg');
  background-repeat: no-repeat;
}

#gyik {
  background-image: url('../images/gyik.jpg');
  background-repeat: no-repeat;
}

#eszkozok {
  background-image: url('../images/eszkozok.jpg');
  background-repeat: no-repeat;
}

#prospektusok {
  background-image: url('../images/prospektusok.jpg');
  background-repeat: no-repeat;
}

#hibabejelentes h2, #ajanlatkeres h2, #letoltes h2, #gyik h2, #eszkozok h2, #prospektusok h2 {
  color: #fff;
  padding-left: 15px;
}

.read_more_article {
  display: block;
  width: 85px;
  height: 25px;
  background-image: url('../images/read_more_article.jpg');
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.article_text {
  padding: 15px;
  padding-bottom: 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.article_text a {
  color: #fff;
  padding-left: 18px;
  padding-top: 4px;
}

.article_text strong {
  font-size: 13px!important;
}

.article_text u {  
  font-weight: bold;
  font-size: 10px;
  color: #841211;
}

.article_text .all_items{
  text-align: center;
}

.article_text .all {
  color: #841211;
  padding: 0px;
}

.article_text .created {
  font-size: 10px;
  font-weight: bold;
}

#support #block_2 {
  padding-top: 0px;
}

#frontend_system_name {
  margin: 15px 0px 15px 0px;
  text-align: left;
}

#frontend_system_name h2 {
  letter-spacing: -1px;
  color: #333;
  background-image: url('../images/tools.png');
  background-repeat: no-repeat;
  padding-left: 40px;
}

.supmessage_description, .faq_description, .article_description {
  color: #105986;
  font-size: 11px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.new_supmessage {
  padding: 0px 0px 10px 0px;
  margin-bottom: 15px;
  font-weight: bold;
}

.new_supmessage a {
  color: #9F0706!important;
}

.system_long_description {
  padding: 20px;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  border: 1px solid #ddd;
}

.red {
  padding: 10px;
  background-image: url('../images/red.jpg');
  background-repeat: repeat-x;
  color: #fff;
}

.orange {
  padding: 10px;
  background-image: url('../images/orange.jpg');
  background-repeat: repeat-x;
  color: #fff;
}

.green {
  padding: 10px;
  background-image: url('../images/green.jpg');
  background-repeat: repeat-x;
  color: #fff;
}

.system_long_description .supmessage_list strong {
  background-image: url('../images/symlink_icon.png');
  background-repeat: no-repeat;
  padding-left: 20px;
}

.system_long_description a {
  color: #fff;
  /* text-decoration: underline;*/
  border-bottom: 1px dotted #fff;
}

.article_long_description a {
  color: #105986;
}

.comment_quantity {
  font-weight: bold;
  color: #EB8B1D;
  border: 1px dotted #ECECEC;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

#show_supmessage_comment .comments {
  display: inline;
}

.quantity {
  background-image: url('../images/comment_icon_2.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

/* FRONTEND MAIN ADVICE */

#show_advice {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

#show_advice .advice_short_description {
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  color: #00688f;
}

#show_advice .advice_content {
  font-size: 12px;
}

.close a {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  position: relative;
  left: 10px;
  top: 3px;
}

.close {
  background-image: url('../images/close.png');
  background-repeat: no-repeat;
  width: 53px;
  height: 22px;
}

/* frontend_search_field */

#frontend_search_field {
  padding-top: 12px;
  taxt-align: right;
}

/* PAGINATION */

.apple_pagination {
  background: #F1F1F1;
  text-align: center;
  padding: 1em;
}

.apple_pagination a, .apple_pagination span {
  padding: .2em .3em;
}

.apple_pagination span.disabled {
  color: #AAA;
}

.apple_pagination span.current {
  font-weight: bold;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

