/* MAIN CSS */
/* RESET WITH BLUEPRINT */

/* FO BEALLITASOK */

body {
    text-align: center;
}

#main {
    margin: 0px auto 0px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    color: #5082D7;
}

form {
    font-size: 11px;
}

h2 {
    font-family: Georgia;
    background-color: #fff;
    color: #444;
    font-size: 2em;
    background-color: transparent;
}

.form_info {
    font-weight: bold;
}

.text {
  text-align: justify;
  font-size: 11px;
}

label {
    font-weight: normal;
}

input {
    margin-right: 13px;
}

select {
    width: 330px;
    padding: 5px;
    border: 1px solid #bbb;
}

.title {
  width: 320px!important;
}

#left .text {
    border-right: 1px solid #ccc;
}


/* FEJLEC */
/* ------------------------------------------------------------------------------------------------------------------ */

#block_1 {
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 60px;
}

#fejlec_hatter {
    background-image: url('../images/fejlec_logo.jpg');
    height: 60px;
}

#admin_login {
    font-size: 12px;
    text-align: right;
    position: relative;
    top: 20px;
}

#admin_login a {
    color: #fff;
}

#admin_login img {
    position: relative;
    top: 3px;
    left: -5px;
}

/* LOGIN LEFT */
/* ------------------------------------------------------------------------------------------------------------------ */

#block_2 {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px 0px 20px 0px;
}

/* FOOTER */

#footer {
    width: 100%;
    height: 30px;
    background-color: #333;
}

.footer_text {
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding-top: 8px;;
}

#block_2 #right {
    background-image: url('../images/big_support.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

/* REGISTRATION */

.flat_rates {
    display: none;
}

.field_with_errors input {
    border: 3px solid red;
}

#message {
    background-color: #A40120;
    font-weight: bold;
    color: #fff;
}

#notice_notice, #notice_alert {
    padding: 5px;
}

/* BACKEND FORMAT */

/* LEFT */
/*--------------------------------------------------------------------------------------------------------------------*/

#backend_left .text {
  border: 1px solid #ddd;
  padding: 10px;
}

#backend_left .text {
    padding: 0px;
    border: none;
}

#backend_left ul {
    font-family: helvetica,sans-serif;
    color: #3B61A2;
    font-size: 18px;
    letter-spacing: -0.4pt;
    word-spacing: -0.2pt;
    margin-bottom: 20px;
    padding: 0px;
}

#backend_left li {
    background-image: url('../images/li_bullet.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

#backend_left li a {
   color : #333;
}

ul li {
   list-style-type: none;
}

#admin_data .text {
  color: #fff;
  text-align: right;
  padding-top: 15px;
}

#backend_left h2 {
    font-family: georgia,serif;
    color: #444743;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.4pt;
}

/* RIGHT */
/*--------------------------------------------------------------------------------------------------------------------*/

#backend_right h2 {
   padding-left: 40px;
}

#backend_right .text {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  background-image: url('../images/big_help.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#backend_right .text .text_content {
  font-family: georgia,serif;
  color: #8C8C8C;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0pt;
  word-spacing: 4.4pt;
  line-height: 1.7;
  margin-bottom: 20px;
}

.admin {
   background-image: url('../images/admin.png');
   background-repeat: no-repeat;
}

.client {
   background-image: url('../images/client.png');
   background-repeat: no-repeat;
}

.contact {
   background-image: url('../images/contact.png');
   background-repeat: no-repeat;
}

.email {
   background-image: url('../images/email.png');
   background-repeat: no-repeat;
}

#email_message h2, #error_message h2 {
    font-size: 20px;
}

#email_message, #error_message {
    margin-bottom: 25px;
}

.error_support {
   background-image: url('../images/error.png');
   background-repeat: no-repeat;
}

.software {
   background-image: url('../images/software.png');
   background-repeat: no-repeat;
}

/* ADMINISTRATOR */
/*--------------------------------------------------------------------------------------------------------------------*/

#administrator h2 {
    padding: 0px;
}

#administrator legend {
  display: block;
  color: #333;
  margin-left: 10px;
  padding: 10px 5px 0px 5px;
}

#administrator fieldset {
  padding: 20px;
}
