/* MAIN CSS */
/* RESET WITH BLUEPRINT */

/* FO BEALLITASOK */

body {
    text-align: center;
}

#main {
    margin: 0px auto 0px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    color: #5082D7;
}

form {
    font-size: 11px;
}

h2 {
    font-family: Georgia;
    background-color: #fff;
    color: #444;
    font-size: 2em;
    background-color: transparent;
    font-weight: bold;
}

.main_text h2 {
  text-align: left;
}

.form_info {
    font-weight: bold;
}

.user_confirmation {
  background-color: #cc0033;
  color: #fff;
  margin-bottom: 20px;
}

.user_confirmation .text {
  padding: 10px;
}

.user_confirmation a {
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
}

div #error_explanation {
  background-color: #f1f1f1;
  margin-bottom: 10px;
  border: 2px dotted red;
  padding: 10px;
}

.main_text {
  text-align: justify;
  font-size: 11px;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.align_justify {
  text-align: justify;
}

/* TOOLTIP */

/* BIG BLACK */

/*.tooltip {
	display: none;
	background: transparent url("../images/black_arrow_big.png");
	font-size: 12px;
	height: 166px;
	width: 320px;
	padding: 25px;
	color: #fff;
}*/

/* MIDDLE WHITE */

.tooltip {
	display: none;
	background: transparent url("../images/white_globo_arrow.png");
	font-size: 11px;
	height: 116px;
	width: 283px;
	padding: 20px;
	color: #333;
  font-weight: bold;
}

.demo img {
	border:0;
	cursor:pointer;
	margin:0 0px;
}

/* FORM */

fieldset {
  background-color: #f1f1f1;
}

label {
    font-weight: normal;
}

input {
    margin-right: 13px;
    padding: 5px;
}

.field {
    margin-bottom: 10px;
}

select {
    width: 330px;
    padding: 5px;
    border: 1px solid #bbb;
}

.title {
  width: 320px!important;
}

#left .main_text {
    border-right: 1px solid #ccc;
}


/* FEJLEC */
/* ------------------------------------------------------------------------------------------------------------------ */

#block_1 {
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 60px;
}

#fejlec_hatter {
    background-image: url('../images/fejlec_logo.jpg');
    height: 60px;
}

#admin_login {
    font-size: 12px;
    text-align: right;
    position: relative;
    top: 20px;
}

#admin_login a {
    color: #fff;
}

#admin_login img {
    position: relative;
    top: 3px;
    left: -5px;
}

/* LOGIN LEFT */
/* ------------------------------------------------------------------------------------------------------------------ */

#block_2 {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px 0px 20px 0px;
    background-image: url('../images/support.jpg');
    background-repeat: no-repeat;
    background-position: top left;
}

/* FOOTER */

#footer {
    width: 100%;
    height: 30px;
    background-color: #333;
}

.footer_main_text {
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding-top: 8px;;
}

#block_2 #right {
    background-image: url('../images/big_support.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

/* REGISTRATION */

.flat_rates {
    display: none;
}

.field_with_errors input {
    border: 3px solid red;
}

#message {
    background-color: #A40120;
    font-weight: bold;
    color: #fff;
}

#notice_notice, #notice_alert {
    padding: 5px;
}

/* BACKEND FORMAT */

/* LEFT */
/*--------------------------------------------------------------------------------------------------------------------*/

#backend_left .main_text, #support_left .main_text {
  border: 1px solid #ddd;
  padding: 10px;
}

#backend_left .main_text, #support_left .main_text {
    padding: 0px;
    border: none;
}

#backend_left ul, #support_left ul {
    font-family: Georgia;
    color: #3B61A2;
    font-size: 18px;
    letter-spacing: -0.4pt;
    word-spacing: -0.2pt;
    margin-bottom: 20px;
    padding: 0px;
}

#backend_left li, #support_left li {
    background-image: url('../images/li_bullet.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

#backend_left li a, #support_left li a {
   color : #333;
}

ul li {
   list-style-type: none;
}

#admin_data .main_text {
  color: #fff;
  text-align: right;
  padding-top: 15px;
}

#backend_left h2 {
    font-family: georgia,serif;
    color: #444743;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.4pt;
}

#backend_left .main_text {
  padding-top: 20px;
}

/* BACKEND RIGHT */
/*--------------------------------------------------------------------------------------------------------------------*/

#backend_right h2 {
   padding-left: 40px;
}

#backend_right .main_text {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  background-image: url('../images/big_help.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#backend_right .main_text .main_text_content {
  font-family: georgia,serif;
  color: #8C8C8C;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0pt;
  word-spacing: 4.4pt;
  line-height: 1.7;
  margin-bottom: 20px;
}

.admin_img {
   background-image: url('../images/admin.png');
   background-repeat: no-repeat;
}

.client_img {
   background-image: url('../images/client.png');
   background-repeat: no-repeat;
}

.contact_img {
   background-image: url('../images/contact.png');
   background-repeat: no-repeat;
}

.email_img {
   background-image: url('../images/email.png');
   background-repeat: no-repeat;
}

.error_support_img {
   background-image: url('../images/error.png');
   background-repeat: no-repeat;
}

.software_img {
   background-image: url('../images/software.png');
   background-repeat: no-repeat;
}

#email_message h2, #error_message h2 {
    font-size: 20px;
}

#email_message, #error_message {
    margin-bottom: 25px;
}

#administrator h2, #contact h2, #client h2, #advice h2, #article h2, #system h2    {
    padding: 0px;
}

#administrator fieldset {
  padding: 20px;
}

#administrator #admin_submit {
  margin-top: 20px;
}

/* FRONTEND */
/*--------------------------------------------------------------------------------------------------------------------*/

#frontend .main_text {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

#frontend img {
  margin-right: 20px;
  float: left;
}

#frontend .no_contact {
  text-align: center;
  font-size: 12px;
  padding: 28px;
  border: 3px dotted red;
}

#frontend #teruleti_kepviselo {
  background-image: url("../images/contact_phone.png")
}

#frontend .kapcs_nev, .telephely_nev {
  font-size: 18px;
}

#frontend .kapcs_vezetekes, #frontend .kapcs_mobil, #frontend .kapcs_email, .telephely_usz, .telephely_cim, .telephely_fax  {
  font-size: 12px;
}

/* MIKROVOKS */

#frontend .termek, #frontend #mikrokam, #frontend #sequence, #frontend #edtr, #frontend #mvmonitor, #frontend #digirat  {
  margin-bottom: 15px;

}
#frontend #mikrovoks .main_text {
  padding: 0px;
}

#frontend #mikrovoks_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrovoks_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #mikrovoks_image {
   height: 140px;
   background-image: url('../images/termek_mikrovoks.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrovoks_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrovoks_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* MIKROKAM */

#frontend #mikrokam .main_text {
  padding: 0px;
}

#frontend #mikrokam_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrokam_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #mikrokam_image {
   height: 140px;
   background-image: url('../images/termek_mikrokam.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrokam_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #mikrokam_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* Sequence */

#frontend #sequence .main_text {
  padding: 0px;
}

#frontend #sequence_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #sequence_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #sequence_image {
   height: 140px;
   background-image: url('../images/termek_sequence.jpg');
   background-repeat: no-repeat;
}

#frontend #sequence_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #sequence_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* edtr */

#frontend #edtr .main_text {
  padding: 0px;
}

#frontend #edtr_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #edtr_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #edtr_image {
   height: 140px;
   background-image: url('../images/termek_edtr.jpg');
   background-repeat: no-repeat;
}

#frontend #edtr_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #edtr_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* mvmonitor */

#frontend #mvmonitor .main_text {
  padding: 0px;
}

#frontend #mvmonitor_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #mvmonitor_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #mvmonitor_image {
   height: 140px;
   background-image: url('../images/termek_mvmonitor.jpg');
   background-repeat: no-repeat;
}

#frontend #mvmonitor_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #mvmonitor_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* digirat */

#frontend #digirat .main_text {
  padding: 0px;
}

#frontend #digirat_fejlec {
   height: 41px;
   background-image: url('../images/termek_fejlec.jpg');
   background-repeat: no-repeat;
}

#frontend #digirat_fejlec .main_text {
  font-family: Georgia;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 8px 0px 0px 0px;
  font-size: 16px;
}

#frontend #digirat_image {
   height: 140px;
   background-image: url('../images/termek_digirat.jpg');
   background-repeat: no-repeat;
}

#frontend #digirat_termektamogatas {
   height: 59px;
   background-image: url('../images/termek_tamogatas.jpg');
   background-repeat: no-repeat;
}

#frontend #digirat_footer {
   height: 59px;
   background-image: url('../images/footer_hatter.jpg');
   background-repeat: repeat-x;
}

/* ADVICES */

#advices .main_text {
  background-color: #fff;
  color: #999;
  text-align: left;
}

#advices h2 {
  color: #333;
}

#advices .advice_information {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #333;
  text-align: left;
}

/* ERROR MESSAGES */

#error_messages {
  background-color: #fff;
}

#error_messages h2 {
  padding: 20px 0px 0px 20px;
}

.message_background {
  height: 120px;
  background-image: url('../images/support_message_background.jpg');
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.message_title {
  font-family: Georgia;
  font-size: 14px;
  color: #fff;
  padding: 10px 0px 0px 35px;
  margin-bottom: 10px;
}

.message_uploader, .message_status {
  font-family: Verdana;
  font-size: 10px;
  color: #fff;
  padding: 5px 0px 0px 25px;
}

.message_status {
  padding-top: 12px;
  font-size: 12px;
  color: #333;
}

.message_statusbar {
  padding: 10px 0px 0px 20px;
}

.message_short_description {
  font-family: Arial;
  font-size: 11px;
  color: #333;
  padding: 12px 0px 0px 35px;
}

.message_user_icon {
  height: 115px;
  background-image: url('../images/message_user_icon.jpg');
  background-repeat: no-repeat;
}

.message_user_data {
  height: 115px;
  background-image: url('../images/message_user_data.jpg');
  background-repeat: no-repeat;
}

.message_user_data .text {
  font-size: 11px;
  padding: 43px 0px 0px 20px;
}

.message_system_info {
  height: 59px;
  background-image: url('../images/message_system_info.jpg');
  background-repeat: no-repeat;
}

.message_system_info .text {
  font-size: 14px;
  padding: 24px 0px 0px 70px;
  font-weight: bold;
}

.message_date {
  height: 56px;
  background-image: url('../images/message_date.jpg');
  background-repeat: no-repeat;
}

.message_date .text {
  font-size: 14px;
  padding: 11px 0px 0px 70px;
  font-weight: bold;
}

.message_description {
  padding: 20px;
}

.message_description h3 {
  font-weight: bold;
}
