/* ------------------
 styling for the tables 
   ------------------   */

#gradient-style {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#gradient-style th {
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #333;
}

#gradient-style td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #333;
    border-top: 1px solid #fff;
}

#gradient-style tfoot tr td {
    border: none;
    background: #fff;
    font-size: 11px;
    color: #444;
}

#gradient-style tbody tr:hover td {
    background: #ccc;
    color: #333;
}

#gradient-style a {
    color: #333;
    font-weight: bold;
}