<h2>Menü</h2>
<ul>
  <li><%= link_to "Főoldal", frontend_index_path %></li>
  <li><%= link_to "Hibabejelentés", all_supmessages_path( :system => "#{@system.title}") %></li>
  <li><%= link_to "Ajánlatkérés", new_offer_path %></li>
  <li><%= link_to "Gyakran Ismételt Kérdések", all_faqs_path( :system => @system.title ) %></li>
</ul>