<!-- Show article -->

<div class="show_article">
  <h1><%= @article.title %></h1>
  <div class="short_description">
    <%= raw @article.short_description %>
  </div>
  <%= raw @article.content %><br/><br/>
</div>