<!-- Show article -->

<div class="show_article">
  <h1><%= @advice.title %></h1>
  <div class="short_description">
    <%= raw @advice.short_description %>
  </div>
  <%= raw @advice.content %><br/><br/>
</div>