<br/><br/>
<h2>Sikeres ajánlatkérés</h2>

<div class="message">
  Ajánlatkérését sikeresen továbbítottuk, kollégánk hamarosan felveszi önnel a kapcsolatot!
</div>

<%= link_to "Vissza a főoldalra!", index_path %>