<p>Tisztelt Ügyfelünk!</p>
<p>Ön sikeresen regisztrált a Globomax Zrt. weboldalára!</p>

<p>Regisztrációját az alábbi linken tudja megerősíteni!</p>

<p><%= link_to 'Regisztrációm megerősítése', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>