<p>Tisztelt Ügyfelünk!</p>
A Globomax Zrt. weboldalán valaki az Ön jelszavának megváltoztatását kérte!
<p>Amennyiben Ön kérte jelszavának megváltoztatását, kérem kattintson az alábbi linkre!</p>

<p><%= link_to 'Jelszavam megváltoztatása', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Ha nem, kérem törölje a levelet.</p>
<p>Jelszava mindaddig a régi marad míg nem kattint a fenti linkre!</p>
Üdvözlettel : A Globomax Zrt. csapata!
